#blok1{
    Height:100%; 
    overflow: auto;
    width:30%;
    float:left;
}
#blok2{
    width:30%;
    height: 100%;
    float:left;
}
#blok3{

      width:39%;
      overflow: auto;
      height: 100%;
      float:left;
}
table.ui.green.table{
    width: 96%;
    margin-left: 2%;
}
table.uui.olive.table{
    width: 96%;
    margin-left: 2%;
}
table.uui.olive.table tr{
    background: red;
}
.ui.table td.active {
    background: #B5CC18 !important;
}
.ui.primary.button
{
    margin-left: 2%;  
}

.pop-over {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #D6DADC;
    border-bottom-color: #C4C9CC;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    display: none;
    overflow: hidden;
    position: absolute;
    right: -9999px;
    top: -9999px;
    width: 300px;
    z-index: 70;
    -webkit-transform: translate3d(0,0,0);
}
