<div id="blok1" class="scroll-block">
    <table class="ui olive selectable table">
        <tr *ngFor="let project of projects" >
            <td (click)="onSelect(project)" [class.active]="project === selected_project">{{project?.value1}}</td>
            <!-- <td><button (click)="addPhone(project?.value2)">{{project?.value1}}</button></td> -->
        </tr>
    </table>
</div>
<div id="blok2">
    <button class="ui primary button">Выгрузить</button>
</div>
<div id="blok3">
    <table class="ui green table">
        <tr *ngFor="let doc of docs">
            <td (click)="Doc_Click(doc)" onclick="alert($('.ui.modal').html());">{{doc?.name}}</td>
            <td>{{doc?.id}}</td>
        </tr>
    </table>
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Profile Picture
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="/images/avatar/large/chris.jpg">
      </div>
      <div class="description">
        <div class="ui header">We've auto-chosen a profile image for you.</div>
        <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
        <p>Is it okay to use this photo?</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Nope
      </div>
      <div class="ui positive right labeled icon button">
        Yep, that's me
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>